.wrap{
  width: 100%;
  min-width: 800px;
  padding: 0;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  height: 100%;
  position: relative;

  h2 {
    font-family: var(--chakra-fonts-gergia_code);
    color: #333333;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 28px;
  }

  .titleC {
    margin-top: auto!important;
    margin-bottom: auto!important;
  }

  .inputWrap {
    display: flex;
    align-items: center;
    justify-content: space-between;

    >div {
      margin-left: 5px;
      display: flex;

      input{
        margin-bottom: 0;
        max-width: 110px;
      }

      img{
        cursor: pointer;
        margin-left: 8px;
        filter: brightness(0) saturate(100%) invert(11%) sepia(100%) saturate(6002%) hue-rotate(243deg) brightness(55%) contrast(119%);
      }
    }
  }

  .groupTitle {
    color: #333333;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 26px;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
  }

  .group{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(auto-fill, 377px);
    grid-gap: 40px 110px;
  }

  .title {
    color: #333333;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .text {
    color: #333333;
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 16px;
  }

  .cancel {
    cursor: pointer;
    transition: 0.3s;
    position: absolute;
    top: 18px;
    right: 16px;

    &:hover {
      transition: 0.3s;
      opacity: 0.8;
    }
  }

  .phoneLine{
    position: relative;
    max-width: 411px;
    display: flex;
    align-items: flex-start;

    .drop {
      width: 97px;
      margin-right: 4px;
    }
  }

  .input {
    max-width: 411px;
  }

  .btn{
    text-transform: uppercase;
    margin-bottom: 16px;

    img{
      filter: brightness(0) saturate(100%) invert(14%) sepia(63%) saturate(4422%) hue-rotate(237deg) brightness(71%) contrast(135%);
      height: 16px;
      margin-left: 8px!important;
    }
  }

  .importantText{
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }

  .menuList {
    display: flex;
    align-items: center;
    list-style: none;

    li{
      cursor: pointer;
      padding: 0 18px;
      font-family: "Source Sans Pro", Arial, sans-serif;
      font-weight: 600;
      font-size: 13px;
      line-height: 17px;
      color: #00008F;
      text-transform: uppercase;
      height: 66px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-bottom: 4px solid transparent;

      &.active, &:hover {
        border-bottom-color: #F07662;
      }
    }
  }

  .content {
    width: 100%;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    padding: 20px 18px;

    >div {
      transition: 0.3s;
      width: 100%;
    }
  }

  .cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 39px;

    .card{
      max-width: 414px;
      display: flex;
      width: 100%;
      flex-direction: column;
      border-radius: 4px;
      box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
      background: #fff;
      padding: 27px 19px;

      .cTitle{
        color: #333;
        font-weight: 700;
        line-height: 29px;
        font-size: 25px;
        letter-spacing: -0.01px;
        margin-bottom: 8px;
      }

      .line{
        display: flex;
        justify-content: flex-start;
        align-items: flex-start;
        max-width: 345px;
        margin-bottom: 4px;

        p{
          margin: 0;
          color: #333;
          font-weight: 600;
          line-height: 24px;
          font-size: 16px;
          letter-spacing: -0.01px;
          margin-right: 20px;
          min-width: 210px;
          max-width: 210px;
        }

        span{
          color: #333;
          line-height: 24px;
          font-size: 16px;
          letter-spacing: -0.01px;
          font-weight: 400;
        }

        >span{
          margin-top: auto;
        }
      }

      .cText {
        color: #333;
        font-weight: 400;
        line-height: 24px;
        font-size: 16px;
        letter-spacing: 0.02px;
        margin: 16px 0;

      }
    }
  }

  .btnGroup {
    width: calc(100% - 40px);
    justify-content: space-between;
    display: flex;

    .btn{
      white-space: nowrap;
      display: flex;
      align-items: center;

      img{
        margin-left: 3px;
      }
    }
  }
}

@media screen and (max-width: 1300px) {
  .wrap{
    width: 100%;
    min-width: 300px;
  }
}

@media screen and (max-width: 960px) {
  .wrap{
    max-width: 600px;
    min-width: 0;
    padding: 0;
    height: fit-content;

    h2 {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 24px;
    }

    .groupTitle {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 10px;
    }

    .cancel {
      display: none;
    }

    .menuList {
      justify-content: space-between;
      li{
        width: 100%;
        max-width: 230px;
      }
    }

    .inputGroup {
      position: relative;
      height: 60px;
      width: 100%;

      >*:first-child{
        position: absolute;
        left: 0;
        top: 0;
        width: calc(100% - 70px);
      }

      >img:nth-child(2){
          margin-left: calc(100% - 55px);
      }
    }

    .cards {
      grid-template-columns: 1fr;
      grid-gap: 20px;

      .card {
          padding: 27px 13px;

        .line {
          justify-content: space-between;
          p{
            min-width: auto;
          }
        }
      }
    }
  }
}
