.wrap{
  width: 100%;
  min-width: 800px;
  padding: 24px 22px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  height: 100%;

  h2 {
    font-family: var(--chakra-fonts-gergia_code);
    color: #333333;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    display: flex;
    align-items: center;
    margin-bottom: 28px;

    span{
      margin-left: 9px;
      width: 33px;
      min-width: 33px;
      height: 33px;
      border-radius: 33px;
      background: #F07662;
      color: white;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 16px;
      letter-spacing: 0.02px;
    }
  }

  .accordionTitles {
    display: flex;
    align-items: center;
    margin-bottom: 18px;

    p{
      color: #333;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      letter-spacing: 0.02px;

      &:first-child{
          width: 158px;
      }
    }
  }

  .accordion {
    //margin-left: 39px;

    .texts{
      margin-bottom: 20px;

      &:last-child{
          margin-bottom: 0;
      }

      p{
        color: #333;
        font-weight: 600;
        font-size: 16px;
        line-height: 24px;
      }
      span{
        color: #333;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 0.02px;
      }
    }
    .accordionBtn {
      p{
        text-align: left;
        &:first-child{
          width: 86px;
          min-width: 86px;
          margin-right: 5px;
        }
        &:nth-child(2){
          min-width: 60px;
          margin-right: 5px;
        }
        &:nth-child(3){
          width: 100%;
          margin-right: 0;
        }
      }
    }
  }

  .btn {
    display: flex;
    align-items: center;
    margin-left: auto;

    img{
      margin-left: 4px;
    }
  }
}
@media screen and (max-width: 1300px) {
  .wrap{
    width: 100%;
    min-width: 300px;
  }
}

@media screen and (max-width: 960px) {
  .wrap{
    max-width: 600px;
    min-width: 0;
    padding: 20px 18px;
    height: fit-content;

    h2 {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 23px;
      align-items: flex-end;
      justify-content: flex-start;

      span{
        margin-left: 5px;
      }
    }

    .accordionTitles {
      p{

        &:first-child{
          width: 112px;
        }
      }
    }

    .accordion {
      .accordionBtn {
        align-items: flex-start;
        p{
          text-align: left;
          font-size: 14px;

          &:first-child{
            width: 66px;
            min-width: 66px;
            margin-right: 5px;
          }
          &:nth-child(2){
            min-width: 35px;
            margin-right: 4px;
          }
          &:nth-child(3){
            width: 100%;
            margin-right: 0;
          }
        }
      }
    }

    .btn {
      display: flex;
      align-items: center;
      margin-left: auto;

      img{
        margin-left: 4px;
      }
    }
  }
}
