.wrap{
  width: 100%;
  min-height: 51px;
  background: #4976BA;
  padding: 0 52px;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .items {
    display: flex;
    align-items: center;
    list-style: none;
    height: 100%;

    li{
      width: auto;
      height: 14px;
      font-family: var(--chakra-fonts-source_code);
      font-weight: 700;
      font-size: 14px;
      line-height: 15px;
      color: #FFFFFF;
      opacity: 0.65;
      transition: 0.3s;
      cursor: pointer;
      display: flex;
      align-items: center;
      padding: 0 8px;
      border-right: 1px solid #fff;

      &:first-child{
        padding-left: 0;
      }
      &:last-child{
        border-right: none;
      }

      &:hover, &.active{
        opacity: 1;
      }
      span{
        height: 14px;
        width: 1px;
        background: #FFFFFF;
        display: flex;
        margin-left: 7px;
      }
    }
  }

  .list {
    display: flex;
    align-items: center;
    list-style: none;

    > span {
      color: white;
      margin-right: 11px;
    }
    li{
      font-family: var(--chakra-fonts-source_code);
      font-weight: 400;
      font-size: 13px;
      line-height: 15px;
      color: #FFFFFF;
      display: flex;
      align-items: center;
      margin-right: 11px;

      span{
        height: 14px;
        width: 1px;
        background: #FFFFFF;
        display: flex;
        margin-right: 11px;
      }
    }
  }
}


@media screen and (max-width: 960px) {
  .wrap{
    flex-direction: column;
    padding: 17px 20px;

    .items {
      margin-bottom: 13px;
    }

    .list {
      display: flex;
      flex-wrap: wrap;
      align-items: center;
      justify-content: center;
      text-align: center;
      max-width: 245px;

      li span{
        margin-right: 0;
      }
    }
  }
}
