.wrap{
  width: 100%;
  min-width: 800px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  background: #fff;
  height: 100%;
  position: relative;
  padding: 20px 18px;

  h2 {
    font-family: var(--chakra-fonts-gergia_code);
    color: #333333;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    margin-bottom: 28px;
  }

  .title {
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px; /* 116% */
    letter-spacing: -0.01px;
    color: #333;
    margin-bottom: 17px;
  }

  .text {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    letter-spacing: 0.02px;
    margin-bottom: 36px;
  }

  .table {
    margin-bottom: 40px;

    tr {
      td:nth-child(1) {
        width: 150px;
      }
      td:nth-child(2) {
        min-width: 300px;
      }

      td:nth-last-child(2) {
        width: 75px;
      }
      td:last-child {
        max-width: 200px;
        text-align: right;

        button {
          margin-left: auto;
          width: 100%;
          max-width: 174px;
          white-space: nowrap;
        }
      }
    }
  }

  .preview {
    cursor: pointer;
    transition: 0.3s;

    &:hover{
        transition: 0.3s;
        opacity: 0.7;
    }
  }

  .btnGroup {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
}

@media screen and (max-width: 1300px) {
  .wrap{
    width: 100%;
    min-width: 300px;
  }
}

@media screen and (max-width: 960px) {
  .wrap{
    max-width: 600px;
    min-width: 0;
    padding: 20px 18px;
    height: fit-content;

    h2 {
      font-size: 25px;
      line-height: 29px;
      margin-bottom: 24px;
    }

    .table {
      overflow-x: scroll;

      &::-webkit-scrollbar {
        -webkit-appearance: none;
        width: 2px;
      }

      &::-webkit-scrollbar-thumb {
        border-radius: 4px;
        background-color: rgba(0, 0, 0, .4);
        box-shadow: 0 0 1px rgba(255, 255, 255, .5);
      }
      &::-webkit-scrollbar {
        height: 4px;
      }
    }

    .title {
      font-size: 18px;
    }
  }
}
