.wrap{
  width: 100%;
  max-width: 362px;
  min-width: 350px;
  padding: 20px 18px;
  border-radius: 4px;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);
  height: fit-content;

  h2 {
    color: #333333;
    font-weight: 700;
    font-size: 25px;
    line-height: 29px;
    margin-bottom: 8px;
  }
  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02px;
    margin-bottom: 23px;
  }

  .btn {
    padding: 0 5px;
    white-space: nowrap;
  }

  .group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .importantText {
      font-size: 13px;
  }

  .phoneLine{
    display: flex;
    align-items: flex-start;

    .drop {
      width: 97px;
      margin-right: 4px;
    }
  }

  .importantText{
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }
}
