.wrap{
  width: 100%;
  max-width: 377px;

  h2 {
    color: #333333;
    font-weight: 700;
    margin-bottom: 10px;
    margin-top: 26px;
    font-size: 40px;
    font-style: normal;
    line-height: 48px;
  }

  h4{
    font-size: 25px;
    font-style: normal;
    font-weight: 700;
    line-height: 29px;
    letter-spacing: -0.01px;
    color: #333333;
    margin-bottom: 11px;
  }

  .text {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    letter-spacing: 0.02px;
    margin-bottom: 23px;
  }

  .btn {
    max-width: 155px;
    padding: 0 20px;
  }

  .group {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
  }

  .importantText{
    color: #333;
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
  }

  :global{
    .formErrorText:nth-last-child(2) {
      margin-bottom: 10px;
    }
  }

  .question {
    display: flex;
    align-items: center;

    > img {
      margin-left: 5px;
    }
  }

  .btn {
    max-width: 200px;
  }

}

//@media screen and (max-width: 960px) {
//  .wrap{
//    max-width: 450px;
//    min-width: auto;
//    padding: 20px;
//  }
//}
